.inputs-boxes {
  // height: 10.84375em;
  display: flex;
  justify-content: center;
  margin-left: 4em;
  
  .buttons {
    position: absolute;
    display: flex;
    margin-top: 3.5em;
    height: 18em;

    .button-up-H,
    .button-down-H,
    .button-up-M,
    .button-down-M,
    .button-up-S,
    .button-down-S {
      border: none;
      background: none;
      opacity: 35%;
      height: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .material-icons {
      font-size: 3em;
    }

    .up {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      margin-left: 15em;

      .button-up-H {

      }

      .button-up-M {

      }

      .button-up-S {

      }
    }

    .down {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .button-down-H {

      }

      .button-down-M {

      }

      .button-down-S {

      }
    }
    .button-up-H, .button-down-H, .button-up-M, .button-down-M, .button-up-S, .button-down-S:hover{
      // border: 1px solid grey;
    }

  }
  .boxes {
    .boxH {
      height: 8em;
      width: 3em;
      background-color: rgb(131, 131, 131);
      opacity: 0%;
      position: absolute;
      z-index: 2;
      margin-right: 64.8em;
    }

    .boxM {
      height: 8em;
      width: 3em;
      background-color: rgb(129, 80, 80);
      opacity: 0%;
      position: absolute;
      z-index: 2;
      margin-top: 8em;
      margin-right: 51.4em;
    }

    .boxS {
      height: 8em;
      width: 3em;
      background-color: rgb(82, 50, 50);
      opacity: 0%;
      position: absolute;
      z-index: 2;
      margin-top: 16em;
      margin-right: 37.2em;
    }
  }

  .inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    // width: 40.60625em;
    // height: 10.84375em;
    // padding-top: 1.61em;
    // padding-right: 0.5em;

    .hoursInput,
    .minutesInput,
    .secondsInput {
      border: none;
      outline: none;
      background: none;
      font-size: 144px;
      opacity: 55%;
      font-family: "Lato", sans-serif;
      width: 1.2em;
      height: 0.8em;
      padding-top: 0.022em;
      padding-bottom: 0.09em;
    }

    .hoursInput {
      // margin-left: 0.015em;
    }

    .minutesInput {
      // margin-left: -0.09em;
    }

    .secondsInput {
      // margin-right: 0.209em;
    }
  }
}
