.inputs-boxes {
  height: 10.84375em;

  .buttons {
    position: absolute;
    z-index: 3;
  }
  .boxes {
    .boxH {
      height: 11em;
      width: 3em;
      background-color: rgb(131, 131, 131);
      opacity: 0%;
      position: absolute;
      z-index: 2;
      right: 0;
      margin-right: 64.8em;
    }
    
    .boxM {
      height: 11em;
      width: 3em;
      background-color: rgb(129, 80, 80);
      opacity: 0%;
      position: absolute;
      z-index: 2;
      right: 0;
      margin-right: 51.4em;
    }
    
    .boxS {
      height: 11em;
      width: 3em;
      background-color: rgb(82, 50, 50);
      opacity: 0%;
      position: absolute;
      z-index: 2;
      right: 0;
      margin-right: 37.2em;
    }
  }

  .inputs {
    display: flex;
    justify-content: center;
    width: 40.60625em;
    height: 10.84375em;
    border-bottom: 1px solid gray;
    .hoursInput, .minutesInput, .secondsInput {
      border: none;
      outline: none;
      background: none;
      font-size: 144px;
      opacity: 55%;
      font-family: 'Lato', sans-serif;
      width: 1.2em;
      height: 1.16em;
      padding-top: 0.022em;
    }

    .hoursInput {
      margin-right: 3.31em;
      position: fixed;
    }

    .minutesInput {
      position: fixed;
      margin-right: 0.34em;
    }

    .secondsInput {
      position: fixed;
      margin-left: 2.81em;
    }
  }
}
