.container {
  display: flex;
  justify-content: center;
  height: 100%;

  .timer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 5em;

    #notation-timer {
      display: flex;
      align-items: center;
      flex-direction: column;

      #timer {
        text-align: right;
        height: 65%;
        width: 40%;
        border: none;
      }

      .notation {
        display: flex;
        z-index: 2;
        font-size: 50px;

        .notation-hours {
          position: absolute;
          margin-top: 1.86em;
          margin-left: -3.156em;
        }

        .notation-minutes {
          position: absolute;
          margin-top: 1.86em;
          margin-left: 1.128em;
        }

        .notation-seconds {
          position: absolute;
          margin-top: 1.86em;
          margin-left: 5.66em;
        }
      }
    }

    #timer-button-container {
      display: grid;

      #display-timer-container {
        display: flex;
        justify-content: center;
      }

      .absolute-timer {
        .notation-display {
          display: flex;
          justify-content: center;

          width: fit-content;
          font-size: 144px;

          .hours {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr 0.5fr;

            .notationH {
              font-size: 50px;
              padding-top: 1.86em;
              padding-right: 0.4em;
            }
          }

          .minutes {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr 0.5fr;

            .notationM {
              font-size: 50px;
              padding-top: 1.86em;
              padding-right: 0.4em;
            }
          }

          .seconds {
            display: grid;
            grid-template-columns: 0.5fr 0.5fr 0.5fr;

            .notationS {
              font-size: 50px;
              padding-top: 1.86em;
              padding-right: 0.4em;
            }
          }
        }
      }

      #button-container {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .fullscreen-mute {
          width: fit-content;
        }
      }
    }

    #start-button,
    #stop-button,
    #ok-button,
    #reset-button {
      font-size: 24px;
      width: 6em;
      height: 2.3em;
      margin: .5em;
      border-radius: 1em;
    }

    #start-button {
      background-color: #c1d3fe;
      border: none;
    }

    #reset-button {
      background-color: white;
      border-style: solid;
      border-color: #abc4ff;
      border-width: 3px;
    }

    #stop-button,
    #ok-button {
      background-color: #abc4ff;
      border: none;
    }

    #stop-button:hover,
    #ok-button:hover,
    #start-button:hover {
      background-color: #84a8ff;
    }

    #reset-button:hover {
      border-color: #84a8ff;
    }

    /* remove number input arrows Chrome, Safari, Edge, Opera */
    #timer::-webkit-outer-spin-button,
    #timer::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    #timer[type="number"] {
      -moz-appearance: textfield;
    }

    #timer:focus {
      outline: none;
    }
  }
}

.fullscreen-enabled .container {
  background: rgb(255, 255, 255);
}

@media only screen and (max-width: 600px) {
  .container {
    height: 95%;
    width: 100%;
    margin-top: 1em;
    .timer-container {
      margin: 0 !important;

      #timer-button-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-top: 10vh;
        //this right here

        #notation-timer {
          flex-direction: row !important;
          justify-content: center;

      
          .notation {
            order: 1;
            flex-direction: column;
            position: absolute;
            height: 6.4em;
            justify-content: space-between;
            margin-left: 4.1em;
            margin-top: 1.1em;
      
            .notation-hours {
              position: static !important;
              margin-top: 0 !important;
              margin-left: 0 !important;
            }
      
            .notation-minutes {
              position: static !important;
              margin-top: 0 !important;
              margin-left: 0 !important;
            }
      
            .notation-seconds {
              position: static !important;
              margin-top: 0 !important;
              margin-left: 0 !important;
            }
          }
        }

        #display-timer-container {
          align-content: center;
          flex-wrap: wrap;

          .absolute-timer {
            height: 100%;
            margin-bottom: 3em;

            .notation-display {
              display: flex !important;
              flex-direction: column !important;
              margin-left: .55em;
              height: 3em;

              .hours {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 0.9em;

                .notationH {
                  font-size: 50px;
                  height: 1.1em;
                }
              }

              .minutes {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                height: 0.9em;

                .notationM {
                  font-size: 50px;
                  height: 1.1em;
                }
              }

              .seconds {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;

                .notationS {
                  font-size: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}
