.container {
  display: flex;
  justify-content: center;

  .timer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 15em;
    height: 10em;

    #start-button,
    #stop-button,
    #ok-button,
    #reset-button {
      width: 5em;
    }

    #timer {
      border: none;
    }

    #timer:focus {
      outline: none;
    }
  }
}
