.container {
  display: flex;
  justify-content: center;

  .timer-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 20em;
    margin: 5em;

    .input-time-notation {
      width: 7em;
      margin-left: 16.8em;
      font-size: 50px;
      display: flex;
      justify-content: space-between;

    }
    #timer-button-container {
      display: flex;
      flex-direction: column;

      #timer-button-absolute-container {
        display: flex; 
        width: 100%; 
        justify-content: center;
      }

      #absolute-timer {
        width: fit-content;
        font-size: 144px;
        border-bottom: solid rgba(128, 128, 128, 0.596) 2px;
      }
    }

    #timer {
      text-align: center;
      border: none;
      font-size: 144px;
    }

    #start-button,
    #stop-button,
    #ok-button,
    #reset-button {
      font-family: "Hind Madurai", sans-serif;
      font-size: 24px;
      width: 6em;
      height: 2.3em;
      margin: 1em;
    }

    #start-button {
      background-color: #c1d3fe;
      border: none;
    }

    #reset-button {
      background-color: white;
      border-style: solid;
      border-color: #abc4ff;
      border-width: 3px;
    }

    #stop-button,
    #ok-button {
      background-color: #abc4ff;
      border: none;
    }

    #stop-button:hover,
    #ok-button:hover,
    #start-button:hover {
      background-color: #84a8ff;
    }

    #reset-button:hover {
      border-color: #84a8ff;
    }
    /* remove number input arrows Chrome, Safari, Edge, Opera */
    #timer::-webkit-outer-spin-button,
    #timer::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    #timer[type="number"] {
      -moz-appearance: textfield;
    }

    #timer:focus {
      outline: none;
    }
  }
}
