.navbar {
  display: flex;
  justify-content: space-between;
  max-height: 4em;

  #navbar-dot-logo {
    display: flex;
    align-items: center;

    #navbar-dot {
      height: 20px;
      width: 20px;
      // background-color: rgb(92, 92, 92);
      border-radius: 50%;
    }

    #navbar-logo {
      font-size: 2em;
      margin-left: .5em;
      margin-top: .2em;
    }
  }

  #navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 7em;
    font-size: 1em;
    margin-right: 1em;

    .login,
    .signup {
      text-decoration: none;
    }

    .login {
      margin-right: 1em;
    }

    .logged-in {
      width: 9em;
      display: flex;
      justify-content: space-between;
    }

    .login-signup-links {
      display: flex;
    }

  }

}

.modal {
  display: flex;
  flex-direction: column;

  .closeModal {
    display: flex;
    justify-content: flex-end;
  }

  .account-container {

    .account-header {
      display: flex;
      font-weight: bolder;
      // justify-content: center;
    }

    .account-switch {
      text-decoration: solid underline;
    }



    .final-button-container {
      display: flex;
      justify-content: center;

      .final-button{
        width: 50%;
  
        border-radius: .7em;
    }
  }


    #register1 {

      #email-register,
      #username-register,
      #password-register {
        width: 100%;
        border-radius: .5em;
      }
    }

    #login1 {

      #username-login,
      #password-login {
        width: 100%;
        border-radius: .5em;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .navbar {
    justify-content: center;

    #logo-ham {
      display: flex;
      justify-content: center;
    }

    #ham {
      height: 2em;
      width: 2em;
      position: absolute;
      right: 0;
      margin-right: 1em;
      -webkit-tap-highlight-color: transparent;
    }

    #ham-drop {
      height: 5em;
      border-radius: .5em;
      background-color: rgb(202, 202, 202);
      margin-top: 3em;
      z-index: 2;
      position: absolute;
      right: 0;

      #navbar-links {
        height: 100%;
        margin-right: 0em !important;

        .logged-in {
          height: 75%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }

        #login-signup {
          height: 100%;

          .login-signup-links {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .login,
            .signup {
              margin: 0 !important;
            }
          }

        }
      }

    }
  }
}