.navbar {
  display: flex;
  justify-content: space-between;
  max-height: 4em;

  #navbar-dot-logo {
    display: flex;
    align-items: center;

    #navbar-dot {
      height: 20px;
      width: 20px;
      // background-color: rgb(92, 92, 92);
      border-radius: 50%;
    }

    #navbar-logo {
      font-size: 2em;
      margin-left: .5em;
      margin-top: .2em;
      cursor: pointer;
    }
  }

  #navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 8em;
    font-size: 1em;
    margin-right: 1em;

    .login,
    .signup,
    .profile,
    .logout {
      text-decoration: none;
      border: 1px solid transparent;
    }

    .login:hover,
    .signup:hover,
    .profile:hover,
    .logout:hover{
      border-bottom: 1px solid black;
      transition: .2s ease-in;
      cursor: pointer;
    }

    .login {
      margin-right: 1em;
    }

    .logged-in {
      width: 7em;
      display: flex;
      justify-content: space-between;

      .profile{
        height: 2.2em;
      }
    }

    .login-signup-links {
      display: flex;
    }

  }

}

.modal {
  display: flex;
  flex-direction: column;

  .closeModal {
    display: flex;
    justify-content: flex-end;
    // background-color: yellow;
  }

  .account-container {

    .account-header {
      margin-bottom: 2em;
      font-weight: bold;
      color: black;
      pointer-events: none;
    }

    .account-switch-message{
      position: absolute;
      bottom: 20px;
      font-size: .7em;
      color: black;
    }

    .account-switch {
      text-decoration: solid underline;
      width: fit-content;
      cursor: pointer
    }

    .account-switch:hover{
      transition: .3s ease-in-out;
      background-color: #dadada;
    }
    .final-button-container {
      display: flex;
      justify-content: center;

      .final-button{
        width: 100%;
        border-radius: .3em;
        border: .2rem solid #dfdfdf;
        background-color: #ffffff;
        // margin-bottom: 1em;
        color: #656565;
        -webkit-transition: .3s ease-in-out;
      }

      .final-button:hover{
        border-color: black;
        transition: .3s ease-in-out;
      }
      
      .final-button-enabled{
        width: 100%;
        border-radius: .3em;
        border: .2rem solid #dfdfdf;
        border-color: #656565;
        // margin-bottom: 1em;
        color: #656565;
        -webkit-transition: .3s ease-in-out;
      }
    }

    .field-holder {
      position: relative;
      margin-bottom: 2em;
    }

    input {
      border: 0;
      border-bottom: .2em solid #dfdfdf;
      outline: none;
      -webkit-transition: .3s ease-in-out;
    }

    label {
      position: absolute;
      left: 5px;
      top: 0px;
      font-size: 1em;
      color: black;
      display: flex;
      align-items: center;
      cursor: text;
      transition: .4s ease-in-out;
    }

    input,
    label {
      font-size: 1em;
      width: 100%;
      height: 2em;
    }

    input:hover+label,
    input:focus+label,
    input:valid+label {
      color: #656565;
      font-size: .75em;
      top: -20px;
      left: 0px;
      pointer-events: none;
    }

    input:hover,
    input:focus,
    input:valid {
      border-bottom: .2em solid #636363;
      transition: .4s ease-in-out;
    }

  }
}

// #register1 {

//   .input:focus{
//     border-width: .2em;
//     outline-width: 0;
//   }

//   #email-register,
//   #username-register,
//   #password-register {
//     width: 100%;
//     border-radius: .5em;
//     height: 2em;
//   }
// }

// #login1 {

//   .input:focus{
//     border-width: .25em;
//     outline-width: 0;
//   }

//   #username-login,  
//   #password-login {
//     width: 100%;
//     border-radius: .25em;
//     height: 2em;

//   }
// }
@media only screen and (max-width: 713px) {
  .navbar {
    justify-content: center;

    #logo-ham {
      display: flex;
      justify-content: center;
    }

    #ham {
      height: 2em;
      width: 2em;
      position: absolute;
      right: 0;
      margin-right: 1em;
      -webkit-tap-highlight-color: transparent;
    }

    #ham-drop {
      height: 5em;
      border-radius: .5em;
      background-color: rgb(202, 202, 202);
      margin-top: 3em;
      z-index: 2;
      position: absolute;
      right: 0;

      #navbar-links {
        height: 100%;
        margin-right: 0em !important;

        .logged-in {
          height: 75%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
        }

        #login-signup {
          height: 100%;

          .login-signup-links {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            .login,
            .signup,
            .profile,
            .logout {
              margin: 0 !important;
              border: 1px solid transparent;
              cursor: pointer;
            }

            .profile{
              // height: 2em;
            }
            
            .login:hover,
            .signup:hover{
              border-bottom: 1px solid black;
              transition: .2s ease-in;
            }
          }

        }
      }

    }
  }
}