.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-left: 150px;
  margin-right: 150px;

  #navbar-dot-logo {
  display: flex;
  align-items: center;
    #navbar-dot {
      height: 20px;
      width: 20px;
      background-color: rgb(92, 92, 92);
      border-radius: 50%;
      margin-right: 1em;
    }
  
    #navbar-logo {
      font-size: 48px;
      font-weight: bold;
    }
  }

  #navbar-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 10em;
    font-size: 24px;

    .login, .signup{
      text-decoration: none;
    }
    .login {
      margin-right: 1em;
    }

    .logged-in{
      width: 9em;
      display: flex;
      justify-content: space-between;
    }


  }
}
