//mobile
.profile-stats-container {


  .session-stats,
  .time-stats {
    padding: 1.5em 1.3em 0 1.1em;
    display: flex;
    flex-direction: column;
  }

  .line {
    width: 100%;
  }


  .wrapper-stats {

    .stat-container {
      display: flex;
      justify-content: space-between;

      .bold-stats {
        font-weight: bold;
      }
    }

  }


  .stats-header {
    font-weight: bolder;
  }

  .delete-button {
    background-color: transparent;
    border: 1px solid black;
    border-radius: 4px;
    font-size: 1em;
    margin-top: 1em;
  }

  .button-group {
    display: flex;
    margin-top: 1em;
    margin-left: 1em;

    .buttons-year {
      background-color: white;
      border-radius: .5em;
    }
  }

  #calendar-header {
    margin-bottom: 1em;
  }

  .calendar-container {
    display: flex;
    flex-direction: column;
    padding: 1.5em 1.3em 0 1.2em;

    .year {
      display: flex;
      flex-direction: column;
      border-radius: 5px;
      overflow-x: scroll;
      border: 1px solid black;
      padding: 1em;
      max-width: fit-content;
      #week-wrapper {
        display: flex;
        width: fit-content;
      }

    }

    #month-row {
      display: flex;
      width: fit-content;
      font-size: 1rem;
      margin-left: 2.2em;

      #feb,
      #mar,
      #jul {
        margin-left: 3.8em;
      }

      #apr,
      #nov {
        margin-left: 3.7em;
      }

      #may {
        margin-left: 5em;
      }

      #jun {
        margin-left: 3.5em;
      }

      #aug {
        margin-left: 5.5em;
      }

      #sep,
      #dec {
        margin-left: 3.6em;
      }

      #oct {
        margin-left: 5.1em;
      }
    }

    #day-column {
      font-size: 1rem;
      height: 8em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  #square {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: rgb(108, 194, 208);
    margin: .2em;
  }

  #single-session-container {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: .5em;

    .session-info-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      .stat-container {
        display: flex;
        justify-content: space-between;
      }

      #log-container {
        word-break: break-word;
        text-align: right;
        width: 10em;
      }

      .line-single {
        width: 100%;
      }
    }
  }

  .single-day:hover .tooltiptext {
    visibility: visible;
  }

  #square-light {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: rgba(3, 158, 3, 0.582);
    margin: .2em;

  }

  #square-medium {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: rgb(0, 167, 0);
    margin: .2em;
  }

  #square-dark {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: rgb(0, 218, 0);
    margin: .2em;
  }
}

.line {
  width: 23em;
}

#modal-wrapper {
  display: flex;
  flex-direction: column;

  #length-wrapper,
  .log-input,
  .date-input {
    margin-bottom: 1em;
  }

  .date-input {
    margin-top: .5em;
  }

  #input-wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: .5em;
  }

  #submit-button {
    width: 4em;
    margin-top: .5em;
  }

  .log-input {
    margin-top: .5em;
  }
}

.all-sessions-container {
  padding: 1.5em 1.3em 0 1.1em;
  display: flex;
  flex-direction: column;
  
  .sessions-header{
    display: flex;
    justify-content: space-between;
    .add-session {
      height: 2em;
      background-color: white;
      border-radius: .3em;
    }  
  }

  #all-sessions-wrapper {
    height: 25em;
    overflow-y: scroll;
  }
}

//desktop
@media only screen and (min-width: 1243px) {
  .profile-stats-container{

    .wrapper-stats{
      display: flex;
      flex-direction: column;
      align-items: center;
      .session-stats,
      .time-stats {
        width: 40em;
      }
    }

    .calendar-wrapper{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .button-group {
        display: flex;
        width: 76em;
        align-items: flex-start;
      }
    }

    .all-sessions-container{
      display: flex;
      align-items: center;

      .sessions-header{
        display: flex;
        justify-content: space-between;
        width: 50em;

        .add-session {
          height: 2em;
          background-color: white;
          border-radius: .3em;
        }  
      }

      .line{
        width: 50em;
      }

      
      #all-sessions-wrapper{
        width: 50em;
      }
    }
  }
}