.delete-button{
  margin: 1em;
}

.calendar-container {
  display: flex;
}

#square {
  width: 15px;
  height: 15px;
  outline: 1.4px solid rgb(53, 53, 53);
  border-radius: 3px;
  background-color: grey;
  margin: .3em;
}

.single-day {
  position: relative;
  display: inline-block;
}


.single-day:hover .tooltiptext{
  visibility: visible;
}

/* Tooltip text */
.single-day .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

#square-light {
  width: 15px;
  height: 15px;
  outline: 1.4px solid rgb(53, 53, 53);
  border-radius: 3px;
  background-color: rgba(0, 109, 0, 0.623);
  margin: .3em;
}

#square-medium {
  width: 15px;
  height: 15px;
  outline: 1.4px solid rgb(53, 53, 53);
  border-radius: 3px;
  background-color: rgb(0, 167, 0);
  margin: .3em;
}

#square-dark {
  width: 15px;
  height: 15px;
  outline: 1.4px solid rgb(53, 53, 53);
  border-radius: 3px;
  background-color: rgb(0, 218, 0);
  margin: .3em;
}