@media only screen and (max-width: 600px) {

  .navbar {
    // margin-left: 0;
  }

  .profile-stats-container{
    display: flex;
    flex-direction: column;

    .session-stats, .time-stats {
      width: 23.3em;
      padding: 1.5em 1.3em 0 1.1em;
      display: flex;
      flex-direction: column;
    
    }

    .line {
      width: 23em;
    }

    .stat-container{
      display: flex;
      justify-content: space-between;
    }

    .stats-header{
      font-weight: bolder;
    }

    .delete-button{
      margin: 1em;
    }
    
    .calendar-container {
      display: flex;
      flex-direction: column;
      width: 23.2em;
      padding: 1.5em 1.3em 0 1.2em;

      .button-group {
        display: flex;
        margin-top: 1em;
      }

      .year {
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        margin-top: 1em;
      }
    }
    
    #square {
      width: 15px;
      height: 15px;
      outline: 1.4px solid rgb(53, 53, 53);
      border-radius: 3px;
      background-color: grey;
      margin: .3em;
    }
    
    .single-day {
      position: relative;
      display: inline-block;
    }
    
    #single-session-container{
      margin-bottom: 1em;

      .session-info-container{
        display: flex;
        flex-direction: column;

          #log-container{
            word-break: break-word;
            text-align: right;
            width: 10em;
          }

      }
    }
    
    .single-day:hover .tooltiptext{
      visibility: visible;
    }
    
    /* Tooltip text */
    .single-day .tooltiptext {
      visibility: hidden;
      background-color: black;
      color: #fff;
      text-align: center;
      padding: 5px 0;
      border-radius: 6px;
     
      /* Position the tooltip text */
      position: absolute;
      z-index: 1;
    }
    
    #square-light {
      width: 15px;
      height: 15px;
      outline: 1.4px solid rgb(53, 53, 53);
      border-radius: 3px;
      background-color: rgba(3, 158, 3, 0.582);
      margin: .3em;
    }
    
    #square-medium {
      width: 15px;
      height: 15px;
      outline: 1.4px solid rgb(53, 53, 53);
      border-radius: 3px;
      background-color: rgb(0, 167, 0);
      margin: .3em;
    }
    
    #square-dark {
      width: 15px;
      height: 15px;
      outline: 1.4px solid rgb(53, 53, 53);
      border-radius: 3px;
      background-color: rgb(0, 218, 0);
      margin: .3em;
    }
  }
  
  .line {
    width: 23em;
  }

  .all-sessions-container{
    padding: 1.5em 1.3em 0 1.1em;
    width: 23.3em;
    display: flex;
    flex-direction: column;

    .add-session{
      width: 7em;
      margin-bottom: 1em;
    }
  }
}